
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Advice API</title>
  <link rel="stylesheet" href="styles.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
  <section>
  <h1>Need Advice?</h1>
  <h5><%= slip.advice %></h5>
<button onclick="location.reload()"><span>Advice</span>
  <div class="liquid"></div></button>
</section>
  <script type="text/javascript" src="main.js"></script>
</body>

</html>
